* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 90vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.profilepic {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilepic img {
  width: 12rem;
  height: 12rem;
  display: absolute;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 13rem;
  height: 13rem;
  background: linear-gradient(
    to right,
    rgba(255, 0 , 0, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 2rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.tags {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.tags button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.addFriend {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.addFriend button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}